html,body,#root{
  height: 100%;
}

.calculator-container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.calculator{
  width: 350px;
  border: 2px solid black;
  box-shadow: 0 15px 10px #777;
  margin: 0 auto;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 70px 60px 60px 60px 60px 60px 60px;
} 

#display, #current-equation{
  text-align: end;
}

/* Button Order */
.display-container {
  grid-column-start: span 3;
  justify-self: end;
}

.display-split{
  display: grid;
  grid-template-rows: 30px 30px;
}

.display-split > h2, .display-split > h3 {
  margin: 0;
}

.display-container{
  order: -2;
}

#clear{
  order: -1;
  grid-column-end: span 2;
}

#equals, #zero{
  order: 1;
}


#add, #subtract, #multiply, #divide{
  order: -1;
}

/* Button Order end*/

/* Display Font */
.display-container{
  font-family: Arial, Helvetica, sans-serif;
}
/* Button Font */
.main-button{
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* Button Colors */

#clear{
  background: #FC913A;
}

#add, #subtract, #multiply, #divide{
  background: #E1F5C4;
}

#equals{
  background: #FF4E50;
}

#decimal{
  background: #F9D423;
}

.main-button{
  background: #EDE574;
  border: .5px solid white;
}

/* Button colors end */

